# 파이썬 캐시 및 빌드 파일
# __pycache__/
# *.py[cod]
# *$py.class
*.egg-info/
# build/
dist/
.vscode/

# 맥(Mac) OS 찌꺼기 파일
.DS_Store/

# 데이터셋 및 모델 가중치 파일 (용량 폭발 방지)
# *.npz
# *.pkl
# *.h5
# *.hdf5
# data/
# datasets/

# 가상환경 (만약 쓴다면)
# .venv/
# venv/
# env/